.header-bg{
    background-color: #CDFFAD;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-weight: 400;
  }

  .container{
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}