.header-bg{
    background-color: var(--cor-p3);
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-weight: 400;
  }

.header-menu a{
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}