.parceiros-bg{
    background: var(--cor-p2);
    padding-top: 60px;
    padding-bottom: 60px;
}

.parceiros{
    display: flex;
    align-items: center;
    gap: 60px;
}

.parceiros-item{
    display: flex;
    align-items: center;
    gap: 120px;
}