.servicos-bg{
    background: var(--cor-1);
}

.servicos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 160px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.servicos-subtitulo{
    display: flex;
    justify-content: center;
    gap: 8px;
}


.servicos-titulo{
    grid-column: 1/-1;
    display: inline-block;
    margin-bottom: 60px;
    text-align: center;
}

.servicos-nutricao{
    background: var(--cor-0);
    border-radius: 5rem ;
    margin-bottom: 60px;
}

.servicos-nutricao img{
    border-radius: 5rem 5rem 0 0;
}

.nutricao-conteudo{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    position: relative;
}

.nutricao-conteudo h3{
    display: flex;
    gap: 8px;
}

.nutricao-conteudo p{
    margin-bottom:50px;
}

.seta{
    position: absolute;
    display: block;
    right: 32px;
    top: 170px;
}
